*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #4B8EE0;
}

header{
    float: right;
    font-size: 1.5em;
    margin: 20px 40px;
}

div.clock, div.insideClock{
    padding: 10px;
    border-radius: 10px;
}

div.clock{
    box-shadow: 0 0 6px 0 black ;

    border: 3px solid #0065E1;

}
div.insideClock{
    border: 3px solid #0065E1;
}


nav{
    background-color: #0065E1;
    height: 100vh;
    width: 200px;

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -200px;

    transition: 1s ;
    z-index: 2;

    box-shadow: 0px 0px 9px 0px black;
}

nav:hover ,nav:active{
    left: 0;
}

div.arrow{
    position:relative;
    left: 50px;
    top: 20px;

    font-size: 1.6em;
    font-weight: bold;
    text-align: right;
}

div.navTitle{
    margin-top: 150px;
    padding: 0 10px;
}
div.list{
    margin-top: 150px;
    padding: 0 10px;
}

main{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content{
    background-color: #0065E1;

    padding: 10px;
    margin: auto;

    min-height: 500px;
    max-width: 500px;

    box-shadow: 0px 0px 20px 0px black;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


div.inputs{
    font-size: 1em;

    display: flex;
    justify-content: space-around;
}

div.buttons{
    top: -60px;
    position: relative;
    width: 380px;
    display: flex;
    justify-content: space-around;
    
}

div.turn{
    background-color: #7db7ff;
    width: 30%;
    margin: auto;
    position: relative;
    top: -40px;
}


h1{
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: default;
}

input{
    box-shadow: 0 0 4px 0 black ;
    border: 0;
    border-radius: 10px;
    font-size: 1em;
    padding: 10px;
    width: 22%;
    height: 50px;
    outline: none;
    direction: rtl;
}

button{
    box-shadow: 0 0 4px 0 black ;
    font-size: 1em;
    background-color: #ffffff00;

    border: 0;
    padding: 10px;
    border-radius: 10px;
    
    width: 40%;
    min-width: 100px;
    height: 40px;
    
    transition: 0.5s;

    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
li{
    text-align: center;
    width: 100%;    

    padding: 10px 10px;
    border-bottom: 1px solid black ;
    transition: 0.5s;
}

a{
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

li:hover{
    background-color: #4B8EE0;
}

#start {
    background-color:#04DB78 ;
}
#start:hover{
    background-color:#01ff88 ;
}

#stop {
    background-color:#db3826 ;
}
#stop:hover{
    background-color:#ff5744 ;
}


#reset {
    background-color:#b798ff ;
}
#reset:hover{
    background-color:#9162ff ;
}

#turn {
    background-color:#b798ff ;
}
#turn:hover{
    background-color:#9162ff ;
}


